solution/workflows/flow_ingest_Odoo_job-4D0CD15A-231A-F111-8341-7C1E52848833.json
{
  "properties": {
    "connectionReferences": {
      "shared_postgresql": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr1c4_sharedpostgresql_863a4"
        },
        "api": {
          "name": "shared_postgresql"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr1c4_sharedcommondataserviceforapps_6ec15"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "c4b1e8f3-d7ac-4324-95e8-f03b49a2d3a8"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          }
        }
      },
      "actions": {
        "Get_rows": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "baee8f6e-8fd8-45c5-8ae0-3e59c899ffcd"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_postgresql",
              "operationId": "GetItems",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_postgresql"
            },
            "parameters": {
              "table": "public.hr_job"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('Get_rows')?['body/value']",
          "actions": {
            "List_rows": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "ac45cb31-9168-4875-a85d-1a90bcee2543"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "cr1c4_bronze_odoo_hr_jobs",
                  "$filter": "cr1c4_id eq '@{string(items('Apply_to_each')?['id'])}'"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Condition": {
              "actions": {
                "Add_a_new_row": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "28fde429-7d14-4cee-8918-5cc6d46d73b9"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "CreateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "cr1c4_bronze_odoo_hr_jobs",
                      "item/cr1c4_id": "@items('Apply_to_each')?['id']",
                      "item/cr1c4_company_id": "@items('Apply_to_each')?['company_id']",
                      "item/cr1c4_create_date": "@items('Apply_to_each')?['create_date']",
                      "item/cr1c4_data_source_id": "1",
                      "item/cr1c4_department_id": "@items('Apply_to_each')?['department_id']",
                      "item/cr1c4_name": "@items('Apply_to_each')?['name']",
                      "item/cr1c4_write_date": "@items('Apply_to_each')?['write_date']"
                    },
                    "authentication": {
                      "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                    }
                  }
                }
              },
              "runAfter": {
                "List_rows": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Update_a_row": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "e9fc71a5-3791-4e86-98bb-b3ab3dd916b0"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "UpdateOnlyRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "cr1c4_bronze_odoo_hr_jobs",
                        "recordId": "@first(body('List_rows')?['value'])?['cr1c4_bronze_odoo_hr_jobId']",
                        "item/cr1c4_id": "@items('Apply_to_each')?['id']",
                        "item/cr1c4_company_id": "@items('Apply_to_each')?['company_id']",
                        "item/cr1c4_create_date": "@items('Apply_to_each')?['create_date']",
                        "item/cr1c4_data_source_id": "1",
                        "item/cr1c4_department_id": "@items('Apply_to_each')?['department_id']",
                        "item/cr1c4_name": "@items('Apply_to_each')?['name']",
                        "item/cr1c4_write_date": "@items('Apply_to_each')?['write_date']"
                      },
                      "authentication": {
                        "type": "Raw",
                        "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                      }
                    }
                  }
                }
              },
              "expression": {
                "equals": [
                  "@length(body('List_rows')?['value'])",
                  0
                ]
              },
              "metadata": {
                "operationMetadataId": "a72ad815-b918-4c90-abb5-43797550fcbf"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Get_rows": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d5d7495a-1caa-48d4-880b-444008233a36"
          },
          "type": "Foreach",
          "runtimeConfiguration": {
            "concurrency": {
              "repetitions": 5
            }
          }
        },
        "Respond_to_a_Power_App_or_flow": {
          "runAfter": {
            "Apply_to_each_1": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "401d6651-6910-4b85-98aa-c2be53226cb7"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
              "value": "Success"
            },
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "title": "Value",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "List_rows_1": {
          "runAfter": {
            "Apply_to_each": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6331ea20-c54e-4afd-b4d9-5e0c0618ff71"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cr1c4_bronze_odoo_hr_jobs"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Apply_to_each_1": {
          "foreach": "@outputs('List_rows_1')?['body/value']",
          "actions": {
            "Filter_array": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "fe99a859-88d0-444a-a51c-45c3cc255dfe"
              },
              "type": "Query",
              "inputs": {
                "from": "@outputs('Get_rows')?['body/value']",
                "where": "@equals(items('Apply_to_each_1')?['cr1c4_id'],string(item()?['id']))"
              }
            },
            "Condition_1": {
              "actions": {
                "Update_a_row_1": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "c4ddb726-dee1-45a3-88f9-f40453027f3b"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateOnlyRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "cr1c4_bronze_odoo_hr_jobs",
                      "recordId": "@items('Apply_to_each_1')?['cr1c4_bronze_odoo_hr_jobid']",
                      "item/cr1c4_id": "@items('Apply_to_each_1')?['cr1c4_id']",
                      "item/statecode": 1
                    },
                    "authentication": {
                      "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                    }
                  }
                }
              },
              "runAfter": {
                "Filter_array": [
                  "Succeeded"
                ]
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@length(body('Filter_array'))",
                      0
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "0128944b-4832-4e13-9c91-d72de349db15"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "List_rows_1": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "95ea2f40-4dde-49c9-81a3-085e7d6ede4f"
          },
          "type": "Foreach"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}