solution/workflows/flow_gold_department-A25C179D-782B-F111-88B3-7C1E52848833.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr1c4_sharedcommondataserviceforapps_6ec15"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "undefined",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          }
        }
      },
      "actions": {
        "List_rows_-_Silver_Department": {
          "runAfter": {},
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "cr1c4_silver_departments",
              "$filter": "statecode eq 0"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "connectionName": "shared_commondataserviceforapps"
            }
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('List_rows_-_Silver_Department')?['body/value']",
          "actions": {
            "List_rows_-_Gold_Department": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "cr1c4_gold_departments",
                  "$filter": "cr1c4_department_sk eq '@{items('Apply_to_each')?['cr1c4_silver_department_id']}'"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            },
            "Condition": {
              "actions": {
                "Add_a_new_row": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "cr1c4_gold_departments",
                      "item/cr1c4_gold_company@odata.bind": "/cr1c4_gold_companies(@{first(outputs('List_rows_-_Gold_Company')?['body/value'])?['cr1c4_gold_companyid']})",
                      "item/cr1c4_department_name": "@items('Apply_to_each')?['cr1c4_department_name']",
                      "item/cr1c4_department_sk": "@items('Apply_to_each')?['cr1c4_silver_department_id']",
                      "item/cr1c4_department_type": "@items('Apply_to_each')?['cr1c4_department_type']"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "CreateRecord",
                      "connectionName": "shared_commondataserviceforapps"
                    }
                  }
                }
              },
              "runAfter": {
                "List_rows_-_Gold_Company": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Update_a_row": {
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "entityName": "cr1c4_gold_departments",
                        "recordId": "@first(outputs('List_rows_-_Gold_Department')?['body/value'])?['cr1c4_gold_departmentId']",
                        "item/cr1c4_gold_company@odata.bind": "/cr1c4_gold_companies(@{first(outputs('List_rows_-_Gold_Company')?['body/value'])?['cr1c4_gold_companyid']})",
                        "item/cr1c4_department_name": "@items('Apply_to_each')?['cr1c4_department_name']",
                        "item/cr1c4_department_sk": "@items('Apply_to_each')?['cr1c4_silver_department_id']",
                        "item/cr1c4_department_type": "@items('Apply_to_each')?['cr1c4_department_type']"
                      },
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                        "operationId": "UpdateOnlyRecord",
                        "connectionName": "shared_commondataserviceforapps"
                      }
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@empty(outputs('List_rows_-_Gold_Department')?['body/value'])",
                      true
                    ]
                  }
                ]
              },
              "type": "If"
            },
            "List_rows_-_Gold_Company": {
              "runAfter": {
                "List_rows_-_Gold_Department": [
                  "Succeeded"
                ]
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "cr1c4_gold_companies",
                  "$filter": "cr1c4_company_sk eq '@{items('Apply_to_each')?['cr1c4_company_sk']}'"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            }
          },
          "runAfter": {
            "List_rows_-_Silver_Department": [
              "Succeeded"
            ]
          },
          "type": "Foreach"
        },
        "Respond_to_a_Power_App_or_flow": {
          "runAfter": {
            "Apply_to_each": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "fe71da3d-69bd-4a23-964d-8d6db7517ecb"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "title": "Value",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              },
              "additionalProperties": {}
            },
            "statusCode": 200,
            "body": {
              "value": "Success"
            }
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}