solution/workflows/flow_ingest_Odoo_work_location-087A3868-231A-F111-8341-7C1E52848833.json
{
  "properties": {
    "connectionReferences": {
      "shared_postgresql": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr1c4_sharedpostgresql_863a4"
        },
        "api": {
          "name": "shared_postgresql"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr1c4_sharedcommondataserviceforapps_6ec15"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "c4b1e8f3-d7ac-4324-95e8-f03b49a2d3a8"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          }
        }
      },
      "actions": {
        "Get_rows": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "baee8f6e-8fd8-45c5-8ae0-3e59c899ffcd"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_postgresql",
              "operationId": "GetItems",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_postgresql"
            },
            "parameters": {
              "table": "public.hr_work_location"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('Get_rows')?['body/value']",
          "actions": {
            "List_rows": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "ac45cb31-9168-4875-a85d-1a90bcee2543"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "cr1c4_bronze_odoo_hr_work_locations",
                  "$filter": "cr1c4_id eq '@{string(items('Apply_to_each')?['id'])}'"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Condition": {
              "actions": {
                "Add_a_new_row": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "75a7dc67-d702-421f-a493-cd43fdd61b5e"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "CreateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "cr1c4_bronze_odoo_hr_work_locations",
                      "item/cr1c4_id": "@items('Apply_to_each')?['id']",
                      "item/cr1c4_address": "@outputs('Get_row')?['body/name']",
                      "item/cr1c4_company_id": "@items('Apply_to_each')?['company_id']",
                      "item/cr1c4_country_id": "@outputs('Get_row')?['body/country_id']",
                      "item/cr1c4_create_date": "@items('Apply_to_each')?['create_date']",
                      "item/cr1c4_data_source_id": "1",
                      "item/cr1c4_location_type": "@items('Apply_to_each')?['location_type']",
                      "item/cr1c4_name": "@items('Apply_to_each')?['name']",
                      "item/cr1c4_write_date": "@items('Apply_to_each')?['write_date']"
                    },
                    "authentication": {
                      "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                    }
                  }
                }
              },
              "runAfter": {
                "Get_row": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Update_a_row": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "807252fc-bec9-4d5f-b2d7-25784777917e"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "UpdateOnlyRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "cr1c4_bronze_odoo_hr_work_locations",
                        "recordId": "@first(body('List_rows')?['value'])?['cr1c4_bronze_odoo_hr_work_locationId']",
                        "item/cr1c4_id": "@items('Apply_to_each')?['id']",
                        "item/cr1c4_address": "@outputs('Get_row')?['body/name']",
                        "item/cr1c4_company_id": "@items('Apply_to_each')?['company_id']",
                        "item/cr1c4_country_id": "@outputs('Get_row')?['body/country_id']",
                        "item/cr1c4_create_date": "@items('Apply_to_each')?['create_date']",
                        "item/cr1c4_data_source_id": "1",
                        "item/cr1c4_location_type": "@items('Apply_to_each')?['location_type']",
                        "item/cr1c4_name": "@items('Apply_to_each')?['name']",
                        "item/cr1c4_write_date": "@items('Apply_to_each')?['write_date']"
                      },
                      "authentication": {
                        "type": "Raw",
                        "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                      }
                    }
                  }
                }
              },
              "expression": {
                "equals": [
                  "@length(body('List_rows')?['value'])",
                  0
                ]
              },
              "metadata": {
                "operationMetadataId": "a72ad815-b918-4c90-abb5-43797550fcbf"
              },
              "type": "If"
            },
            "Get_row": {
              "runAfter": {
                "List_rows": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "0c5a4bbb-6a6c-4386-ba48-d55bce3f642d"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_postgresql",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_postgresql"
                },
                "parameters": {
                  "table": "[public].[res_partner]",
                  "id": "@items('Apply_to_each')?['address_id']"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            }
          },
          "runAfter": {
            "Get_rows": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d5d7495a-1caa-48d4-880b-444008233a36"
          },
          "type": "Foreach",
          "runtimeConfiguration": {
            "concurrency": {
              "repetitions": 5
            }
          }
        },
        "Respond_to_a_Power_App_or_flow": {
          "runAfter": {
            "Apply_to_each_1": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b74b7e60-1432-4a3a-82c6-a67d078dcca3"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
              "value": "Success"
            },
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "title": "Value",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "List_rows_1": {
          "runAfter": {
            "Apply_to_each": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1bc89c3b-4149-46b1-8818-9692fa1efa33"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cr1c4_bronze_odoo_hr_work_locations"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Apply_to_each_1": {
          "foreach": "@outputs('List_rows_1')?['body/value']",
          "actions": {
            "Filter_array": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "d0de9ecc-b053-4a1f-a940-8daea411aca6"
              },
              "type": "Query",
              "inputs": {
                "from": "@outputs('Get_rows')?['body/value']",
                "where": "@equals(items('Apply_to_each_1')?['cr1c4_id'],string(item()?['id']))"
              }
            },
            "Condition_1": {
              "actions": {
                "Update_a_row_1": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "755975d4-cd79-40fc-bfa2-2f3adfc59ace"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateOnlyRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "cr1c4_bronze_odoo_hr_work_locations",
                      "recordId": "@items('Apply_to_each_1')?['cr1c4_bronze_odoo_hr_work_locationid']",
                      "item/cr1c4_id": "@items('Apply_to_each_1')?['cr1c4_id']",
                      "item/statecode": 1
                    },
                    "authentication": {
                      "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                    }
                  }
                }
              },
              "runAfter": {
                "Filter_array": [
                  "Succeeded"
                ]
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@length(body('Filter_array'))",
                      0
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "cc752d73-e5d3-4ebb-898f-c64b412ddfee"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "List_rows_1": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "06b37265-2d4b-42aa-bf9c-a4ad664c7b1e"
          },
          "type": "Foreach"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}