solution/workflows/flow_ingest_ERPNext_designation-678939E2-121A-F111-8341-7C1E52848833.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr1c4_sharedcommondataserviceforapps_6ec15"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "undefined",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "ac6b948d-521f-4539-b7cb-b160dd73123a"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          }
        }
      },
      "actions": {
        "HTTP": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "bdc0ebaa-3ef5-40a3-b838-ed0c46934ada"
          },
          "type": "Http",
          "inputs": {
            "method": "GET",
            "uri": "https://nemocnicekr.f.frappe.cloud/api/resource/Designation?fields=%5B%22name%22,%22designation_name%22,%22creation%22,%22modified%22%5D&limit_page_length=500",
            "headers": {
              "Authorization": "token cdaea95a0481061:c2abdb6f4d11e1a",
              "Accept": "application/json"
            }
          },
          "runtimeConfiguration": {
            "contentTransfer": {
              "transferMode": "Chunked"
            }
          }
        },
        "Parse_JSON": {
          "runAfter": {
            "HTTP": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "83108e64-af75-4ce9-817e-bcc8f97db1d6"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@body('HTTP')",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "designation_name": {
                        "type": "string"
                      },
                      "creation": {
                        "type": "string"
                      },
                      "modified": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "name"
                    ]
                  }
                }
              }
            }
          }
        },
        "Apply_to_each": {
          "foreach": "@body('Parse_JSON')?['data']",
          "actions": {
            "List_rows": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "2d2ec7df-446d-4fa9-b1a6-04cbf66cebaf"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "cr1c4_bronze_erpnext_designations",
                  "$filter": "cr1c4_name eq '@{string(item()?['name'])}'"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Condition": {
              "actions": {
                "Add_a_new_row": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "23a9315a-da78-4630-9cf3-cd0e6e2b65d8"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "CreateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "cr1c4_bronze_erpnext_designations",
                      "item/cr1c4_name": "@items('Apply_to_each')?['name']",
                      "item/cr1c4_creation": "@items('Apply_to_each')?['creation']",
                      "item/cr1c4_data_source_id": "2",
                      "item/cr1c4_designation_name": "@items('Apply_to_each')?['designation_name']",
                      "item/cr1c4_modified": "@items('Apply_to_each')?['modified']"
                    },
                    "authentication": {
                      "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                    }
                  }
                }
              },
              "runAfter": {
                "List_rows": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Update_a_row": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "3f98a116-640e-41be-9b55-4612a582aff3"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "UpdateOnlyRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "cr1c4_bronze_erpnext_designations",
                        "recordId": "@first(body('List_rows')?['value'])?['cr1c4_bronze_erpnext_designationId']",
                        "item/cr1c4_name": "@items('Apply_to_each')?['name']",
                        "item/cr1c4_creation": "@items('Apply_to_each')?['creation']",
                        "item/cr1c4_data_source_id": "2",
                        "item/cr1c4_designation_name": "@items('Apply_to_each')?['designation_name']",
                        "item/cr1c4_modified": "@items('Apply_to_each')?['modified']"
                      },
                      "authentication": {
                        "type": "Raw",
                        "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                      }
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@length(body('List_rows')?['value'])",
                      0
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "f88d06fe-6b80-4671-bf14-679024b9abc5"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Parse_JSON": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "fa5130af-0604-46aa-b068-9b515e83b6c0"
          },
          "type": "Foreach"
        },
        "Respond_to_a_Power_App_or_flow": {
          "runAfter": {
            "Apply_to_each_1": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ecf72684-460a-4fe6-8e14-7f64db13022d"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
              "value": "Success"
            },
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "title": "Value",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "List_rows_1": {
          "runAfter": {
            "Apply_to_each": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "00ea7c74-1496-4c22-a350-26a70a343a05"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cr1c4_bronze_erpnext_designations"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Apply_to_each_1": {
          "foreach": "@outputs('List_rows_1')?['body/value']",
          "actions": {
            "Filter_array": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "d085c64c-e590-4c92-8176-6e51454b1fe6"
              },
              "type": "Query",
              "inputs": {
                "from": "@body('Parse_JSON')?['data']",
                "where": "@equals(items('Apply_to_each_1')?['cr1c4_name'],item()?['name'])"
              }
            },
            "Condition_1": {
              "actions": {
                "Update_a_row_1": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "03d86ef5-8f3f-4cb1-9155-7cfba94d2f66"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateOnlyRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "cr1c4_bronze_erpnext_designations",
                      "recordId": "@items('Apply_to_each_1')?['cr1c4_bronze_erpnext_designationid']",
                      "item/cr1c4_name": "@items('Apply_to_each_1')?['cr1c4_name']",
                      "item/statecode": 1
                    },
                    "authentication": {
                      "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                    }
                  }
                }
              },
              "runAfter": {
                "Filter_array": [
                  "Succeeded"
                ]
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@length(body('Filter_array'))",
                      0
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "0c6b15c4-ee1d-4fc8-af58-a69b0cec908f"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "List_rows_1": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ed9efe0e-93ab-430f-903d-e1b00e57c8a0"
          },
          "type": "Foreach"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}